<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>MEDICATION</string>
	<string>APPOINTMENTS</string>
	<string>PAIN MANAGEMENT</string>
	<string>PHYSICAL THERAPY</string>
	<string>LABS</string>
	<string>REWARDS</string>
	<string>TIMELINE</string>
	<string>SETTINGS</string>
	<string>HELP</string>
	<string>TERMS &amp; CONDITIONS</string>
</array>
</plist>
